@import "./fonts";
@import "./vars";
@import "./mixins";

html {
    font-size: 62.5%;
  }

body {
    font-family: 'Larsseit', sans-serif;
    color: $primary;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.1;
    background-color: #ffffff;
}

    .container {
        max-width: 144rem;
        // width: 100%;
        padding: 0;
        margin: 0 auto;
    }




.page {
    display: grid;

    grid-template-columns: 25% 9% 5% 11% 13% 3% 9% 25%;
}



@import "./blocks/header";
@import "./blocks/why";
@import "./blocks/about";
@import "./blocks/null";
@import "./blocks/item";
@import "./blocks/box";
@import "./blocks/know";
@import "./blocks/contact";
@import "./blocks/info";
@import "./blocks/footer";









