.about {
    grid-column: 1/9;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding-bottom: 12rem;
}

.about-title {
    grid-column: 1/2;
    padding: 15.5rem 0 11.5rem 10.5rem;
}


.about-title__caption {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary;
}




.about-content {
    grid-column: 2/9;

    padding: 15rem 0 2.5rem 6.5rem;

    max-width: 65rem;

    line-height: 1.5;
}

.about-content__text {
    margin-bottom: 6.5rem;
}




.about-content__title {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.06em;
    color: $primary-opacity;
}


.about-item {
    padding: 10rem 5rem 0 8rem;

    min-height: 36rem;

    color: #FFFFFF;
    text-transform: capitalize;
    line-height: 1.2;
}


.about-item--pink {
    background-color: #FFE2DE;
}

.about-item--green {
    background-color: #C4E769;
}

.about-item--brand {
    background-color: $brand;
}

.about-item--blue {
    background-color: #0052C1;
}

.about-item__title {
    position: relative;

    font-size: 3.2rem;
    line-height: 1.05;
    letter-spacing: -0.006em;
    color: #FFFFFF;


    &::before {
        content: "";
        position: absolute;

        width: 9px;
        height: 9px;

        left: -35px;
        top: 10px;

        background-color: #E9B730;
        border-radius: 50%;
    }

    &::after {
        content: "";
        position: absolute;

        width: 255px;
        height: 6px;
        opacity: .5;

        left: -40px;
        top: -30px;

        box-shadow: inset 0px -1px 0px #FFFFFF;
    }
}