.about-title {
    grid-area: 3/1/4/2;

    padding: 15.5rem 0 11.5rem 10.5rem;
}

.about-title__caption {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary;
}



.about-content {
    grid-area: 3/2/4/8;

    padding: 15rem 0 2.5rem 6.5rem;

    max-width: 65rem;

    line-height: 1.5;
}

.about-content__text {
    margin-bottom: 6.5rem;
}


.about-content__title {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.06em;
    color: $primary-opacity;
}

.about-item {

    padding: 10rem 5rem 0 8rem;

    min-height: 36rem;
    color: #FFFFFF;
    text-transform: capitalize;
    line-height: 1.2;

    &::before {
        content: "";
        position: absolute;

        width: 9px;
        height: 9px;

        left: 55px;
        top: 115px;

        background-color: #E9B730;
        border-radius: 50%;
    }

    &::after {
        content: "";
        position: absolute;

        width: 255px;
        height: 6px;
        opacity: .5;

        left: 50px;
        top: 65px;

        box-shadow: inset 0px -1px 0px #FFFFFF;
    }
}


.about-item--pink {
    grid-area: 4/1/5/2;

    position: relative;

    background-color: #FFE2DE;
}

.about-item--green {
    grid-area: 4/2/5/4;

    position: relative;

    background-color: #C4E769;
}

.about-item--brand {
    grid-area: 4/4/5/7;

    position: relative;

    background-color: $brand;
}

.about-item--blue {
    grid-area: 4/7/5/8;

    position: relative;


    background-color: #0052C1;
}

.about-item__title {

    font-size: 3.2rem;
    line-height: 1.05;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}
