.box--1 {
       grid-area: 8/1/9/3;
}

.box--2 {
       grid-area: 8/3/9/6;
}

.box--3 {
       grid-area: 8/6/9/8;
}

.box--4 {
       grid-area: 9/1/10/3;
}


.box--5 {
       grid-area: 9/3/10/6;
}

.box--6 {
       grid-area: 9/6/10/8;
}





