.header {
    grid-area: 1/1/2/8;

    padding: 2.5rem 13rem 7.5rem 17rem;
    background: url(../../assets/img/header_g.png) no-repeat right/cover;

    // min-height: 840px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 17.5rem;
}

.header__logo {
    @extend %logo;
}

.header__list {
    display: flex;

}

.header__item {
    &:not(:last-child) {
        margin-right: 3.3rem;
    }
}

.header__link {
    font-size: 1.4rem;
    color: $primary;
}

.header__btn {
    min-width: 15rem;
    min-height: 5rem;

    padding: 2rem;

    font-size: 1.4rem;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;

    background: $brand;
    border-radius: 5rem;

}


.header__content {
    max-width: 48.5rem;
}

.header__title {
    @extend %logo;

    margin-bottom: 3.5rem;

    font-size: 2.4rem;
}

.header__subtitle {
    margin-bottom: 6rem;

    font-size: 4.8rem;
    letter-spacing: -0.03em;
    line-height: 1.2;
}

.header__text {
    margin-bottom: 5rem;

    line-height: 1.9;
}

.header__boxes {
    display: flex;
    align-items: center;
}

.header__button {
    @extend %button;

    align-items: center;
}

.header__button--bg {
    margin-right: 2.5rem;

    color: #FFFFFF;

    background: $title-color;
}