.info {
    grid-column: 1/9;

    display: flex;
}

.info-img__image {
    width: 57rem;

    @extend %image;
}

.info-content {
    display: flex;
    justify-content: space-between;

    padding: 10rem 16rem 9rem 10rem;

    min-width: 60%;
}

.info-content__title {
    margin-bottom: 5rem;

    font-size: 1.4rem;
    line-height: .8;
    letter-spacing: -0.006em;
    text-transform: uppercase;
    color: $primary;
}

.info-content__text {
    line-height: 1.8;
}

.info-content__address {
    margin-bottom: 3rem;

    font: inherit;
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: -0.006em;
}

.info-content__item {
    max-width: 20rem;

    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: -0.006em;
    color: $primary-opacity;
}

.info-content__tel {
    color: inherit;
}

.info-content__mode {
    line-height: 2;
}