.item--bg-dark {
       grid-area: 6/1/7/3;
}

.item--bg-blue {
       grid-area: 6/3/7/6;
}

.item--bg-img {
       grid-area: 6/6/7/8;
}

.item--bg-main {
       grid-area: 7/1/8/3;
}

.item--bg-light {
       grid-area: 7/3/8/6;
}

.item--bg-purple {
       grid-area: 7/6/8/8;
}

