.know {
       grid-column: 1/9;

       display: flex;

       @media (max-width: 1080px) {
              max-height: 60rem;
       }

}

.know-img {
       @media (max-width: 1280px) {
              flex-basis: 40%;

              overflow: hidden;
       }

}

.know-img__image {
       @extend %image;
}

.know-content {
       padding: 10rem 16.5rem 4rem 10rem;

       @media (max-width: 1280px) {
              flex-basis: 60%;

              padding: 5rem;;
       }

}

.know-content {
       display: flex;
       flex-direction: column;
       justify-content: space-between;

}

.know-content__title {
       margin-bottom: 22.5rem;

       font-size: 1.6rem;
       line-height: .9;
       letter-spacing: 0.06em;
       text-transform: uppercase;

       @media (max-width: 1080px) {
              margin-bottom: 0rem;
       }
}

.know-content__text {
       margin-bottom: 14rem;

       font-size: 3.6rem;
       font-weight: 700;
       line-height: 1.6;
       letter-spacing: -0.01em;

       @media (max-width: 1280px) {
              font-size: 2.6rem;
       }

       @media (max-width: 1080px) {
              margin-bottom: 0rem;
       }


}

.know-content__logo {
       @extend %logo;
}

.know-content__button {
       @extend %button;

       transition: all .2s linear;

       &:hover {
              color: #ffffff;
              background-color: lighten($title-color, 10%);
       }

       &:active {
              background-color: darken($title-color, 10%);
       }
}