.know {
       grid-column: 1/9;

       display: flex;
}

.know-img__image {
       @extend %image;
}

.know-content {
       padding: 10rem 16.5rem 4rem 10rem;
}

.know-content__title {
       margin-bottom: 22.5rem;

       font-size: 1.6rem;
       line-height: .9;
       letter-spacing: 0.06em;
       text-transform: uppercase;
}

.know-content__text {
       margin-bottom: 14rem;

       font-size: 3.6rem;
       font-weight: 700;
       line-height: 1.6;
       letter-spacing: -0.01em;
}

.know-content__logo {
       @extend %logo;
}

.know-content__button {
       @extend %button;

       transition: all .2s linear;

       &:hover {
              color: #ffffff;
              background-color: lighten($title-color, 10%);
       }

       &:active {
              background-color: darken($title-color, 10%);
       }
}