.why {
       grid-column: 1/9;

       display: flex;
}

.why-content {
       padding: 15.5rem 16.5rem 9.5rem 18rem;

       background-color: $brand;
       color: #FFFFFF;

       @media (max-width: 1280px) {
              padding: 8rem;
          }
}

.why-content__title {
       margin-bottom: 8rem;

       font-size: 3.6rem;

       @media (max-width: 1280px) {
              margin-bottom: 5rem;
          }
}

.why-content__text {
       font-size: 2rem;
       line-height: 1.6;
}

.why-content__text-bold {
       font-size: 2.4rem;
}

.why-img {
       min-width: 33.3%;
}

.why-img__image {
       @extend %image;
}